.wrapper {
    border: 3px solid black;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 8;
    display: grid;
    align-content: center;
    justify-content: center;
}

.row2left {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    align-content: center;
    justify-content: center;
}
.row2right {
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row3left {
    background-color: purple;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.row3middle {
    background-color: green;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.row3right {
    background-color: blue;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 8;
    
    
}


footer {
    background-color: lightgrey;
    /* grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4; */

    /* text-align: center; */
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}

body {
    background-color: lightgrey;
    margin: 0;
}
p{
    float: right;
}
.headshot {
    float: right;
    /* margin: 5px; */
    object-fit: fill;
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50% */
}
.wrap {
    float: right; 
    margin: 5px;
}
