.wrapper {
    border: 3px solid black;
    display: grid;
    grid-template-rows: 10vh 45vh 45vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

header {
    background-color: rgb(2, 2, 107);
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 8;
    display: grid;
    align-content: center;
    justify-content: center;
}

.row2left {
    background-color: black;
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    align-content: center;
    justify-content: center;
}
.row2right {
    background-color: red;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
}
.row2right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.row3middle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.row3left {
    background-color: aqua;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.row3middle {
    background-color: green;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.row3right {
    background-color: aqua;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 8;
    padding: 0.5rem;
    overflow: auto;
}


footer {
    background-color: lightgrey;

    display: grid;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}

body {
    background-color: lightgrey;
    margin: 0;
    height: 100vh;
}

.headshot {
    width: 100%;
    height: 100%;
    /* border: 5px solid black; */

    
}

.wrap {
    float: right;
    /* margin: 5px; */
    /* border: 5px solid black; */
    padding-right: 10px;
    width: 25%;
    height: auto;
}

/* .row3right p {
    border: 5px solid black;
    overflow: scroll;
} */
