h2 {
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}

nav li {
    list-style-type: none;
    background-color: black;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}

nav a:hover{
    color: palegoldenrod;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}


h1 {
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer{
    justify-content: center;
    background-color: black;
    
    
    border: 5px green solid;
    padding: 2rem;
}

footer address{
    color: white;
    text-align: center;
    align-content: center;
    
}

body {
    margin: 0;
    background-color: red;
    
    
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;

}
