
/* Main Structure */
body {
    margin: 0;


    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;

}

header {
    margin: 0;
}

footer{
    background-color: rgba(0, 0, 0, 0.854);
    color: white;
    text-align: center;
}

/* Nav Bar */

nav li {
    list-style-type: none;
    margin: 1rem;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: rgb(0, 0, 0, 0.854);
    border-radius: 35%;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.854);
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}


/* Image Citations */

img {
    max-height: 250px;
}

figure {
    display: inline-block;
    position: relative;
}

figcaption {
    background-color: lightgray;
    padding: 5px;
    position: absolute;
    /* bottom: 4px; */

    right: 13%;
    font-size: 12px;
    width: 70%;
}


/* About Me */



/* Exercises */



/* Portfolio */

.portfolioMain{
    background-color: rgb(198, 196, 196);
    text-align: center;
    padding-bottom: 1rem;
}

.portfolio {
    display: flex;
    background-color: rgb(198, 196, 196);
    flex-wrap: wrap;
    justify-content: center;
    padding: 5;
}

.portItems{
    padding: 5px;
    text-align: center;
    /* flex: 0 0 33.3333%; */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding: 1rem;
}

.portItems a {
    color: black;
    font-size: 1.5rem;
}

.portItems figcaption {
    bottom: 2rem;
}

.project1 figcaption {
    bottom: 3.75rem;
}

.project6 figcaption {
    bottom: 3.75rem;
}






/* Resume */





/* Media  */

@media (max-width: 800px) {

    .portfolio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project1 figcaption {
        bottom: 2rem;
    }
    .project6 figcaption {
        bottom: 2rem;
    }
}

@media (min-width:1575px) {
    .project1 figcaption {
            bottom: 2rem;
        }
    .project6 figcaption {
        bottom: 2rem;
    }
}