
/* Main Structure */
body {
    margin: 0;


    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;

}

header {
    margin: 0;
}

footer{
    background-color: rgba(0, 0, 0, 0.854);
    color: white;
    text-align: center;
}

/* Nav Bar */

nav li {
    list-style-type: none;
    /* background-color: rgb(0, 0, 0, 0.854); */
    margin: 1rem;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: rgb(0, 0, 0, 0.854);
    border-radius: 35%;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.854);
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}


/* Image Citations */

img {
    max-height: 250px;

}

figure {
    display: inline-block;
    position: relative;
}

figcaption {
    background-color: lightgray;
    padding: 5px;
    position: absolute;
    bottom: 4px;
    right: 0;
}


/* About Me */



/* Exercises */



/* Portfolio */

.portfolioMain{
    background-color: rgb(198, 196, 196);
    text-align: center;
    padding-bottom: 1rem;
}

.portfolio {
    display: flex;
    /* grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content; */
    background-color: rgb(198, 196, 196);

    flex-wrap: wrap;

    /* align-content: center; */

    justify-content: center;
    /* justify-content: space-evenly; */

    padding: 5;
}

/* .grid1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;

    margin: 0;
    padding: 5px;
}

.grid2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;

    padding: 5px;
}

.grid3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 1;

    padding: 5px;
}

.grid4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

    padding: 5px;
} */

.portItems{
    padding: 5px;
    text-align: center;
    /* flex: 0 0 33.3333%; */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    padding: 1rem;
}

.portItems a {
    /* text-decoration: none; */
    color: black;
    font-size: 1.5rem;
    /* padding: 25px; */
}



/* Resume */





/* Media  */

/* Mobile  */
@media (max-width: 800px) {

    .portfolio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}